body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 800px;
  }

  header {
    padding: 20px 15px;
    background-color: #1F2937;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-shrink: 0;
  }

  header h1 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;

  }

  header nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
  }

  header nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 5px 10px;
    margin: 0 5px;
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
  }

  .featured {
    display: flex;
    gap: 50px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    padding: 100px 35px;
    align-items: center;
  }

    .featured div {
        flex: 1;
    }

  .featured h2 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0 0 20px 0;
  }

  .featured p {
    margin-bottom: 30px;
  }

  .featured .place-holder {
    width: 100%;
    height: 300px;
    background-color: #8d99aa;
    color: #1F2937;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards {
    background-color: #ffffff;
    color: #1f2937;
    font-size: 18px;
    padding: 50px 15px;
    text-align: center;
  }

    .cards h3 {
        font-size: 36px;
        font-weight: bold;
        margin: 0 0 30px 0;
    }

    .card-wrap {
        display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    }

  .card {
    max-width: 150px;
    font-size: 14px;
  }

  .card div {
    border: 4px solid #8d99aa;
    border-radius: 10px;
    width: 100%;
    height: 100px;
  }

  .testimonials {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 30px;
    padding: 50px 100px;
    font-style: italic;
    font-weight: 200;
    line-height: 1.5em;
    
  }

  .testimonials .author {
    font-size: 16px;
    text-align: right;
    padding: 0 30px;
    margin: 0;
  }

  .cta {
    background-color: #ffffff;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .cta .wrapper {
        background-color: #3882f6;
        border-radius: 10px;
        padding: 40px 50px;
        display: flex;
        justify-content: space-around;
        gap: 80px;
        align-items: center;

    }

    .cta .text {
        flex: 1;
        color: #fff;
        font-size: 18px;

    }

    .cta h3 {
        font-size: 30px;
        font-weight: 900;
        margin: 0 0 5px 0;
    }

    .cta p {
        margin: 0;
    }

    .cta button {
        flex-shrink: 0;
    }


  button {
    padding: 10px 20px;
    font-size: 28px;
    font-weight: 400;
    background-color: rgb(206, 134, 0);
    border: none;
    border-radius: 5px;
  }

  button a {
    color: white;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 25px 20px;
    background-color: #1f2937;
    color: #e5e7eb;

  }

  footer small {
    font-size: 10px;
  }

  a {
    text-decoration: none;
  }